.is_loading {
    background: #ededed;
    background: linear-gradient(110deg, #ececec 20%, #f5f5f5 8%, #ececec 33%);
    background-size: 200% 100%;
    animation: 2s loading_animation linear infinite;
}

@keyframes loading_animation {
    to {
        background-position-x: -200%;
    }
}